
/* All Pages */
*{
    background-color: #c4c4c4;
    padding: 0;
    margin: 0;
}

/*--  Header  --*/
header{
    display: inline-block;
    background-color: darkslategray;
    width: 50%;
}
nav{
    display: inline-block;
    background: darkslategray;
    text-align: center;
    margin: 0 auto 1rem;
}
nav li{
    list-style: none;
    font-size: 20px;
    background: darkslategray;
}
nav a{
    background: darkslategray;
    color:teal;
}

/*-- All Links --*/
body a {
    color: teal;
    text-decoration: none;
}
body a:hover {
    background: black;
    color: wheat;
    cursor: url('/Media/custom.svg'), auto;
}
body a:visited {
    color: teal;
}
body a:active{
    color: wheat;
}

/*-- Main Body --*/
body{
    text-align: center;   
    cursor: url('/Media/custom.svg'), auto;
}

/* REDACTED Blackout highlight */
.Redacted {
    color: white;
    background-color: black;
}