/* All Pages */
*{
    background-color: #c4c4c4;
    padding: 0;
    margin: 0;
}

/*--  Header  --*/
header{
    display: inline-block;
    background-color: darkslategray;
    width: 50%;
}
nav{
    display: inline-block;
    background: darkslategray;
    text-align: center;
    margin: 0 auto 1rem;
}
nav ul{
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    background: darkslategray;
}
nav li{
    list-style: none;
    font-size: 20px;
    background: darkslategray;
    display: inline-block;
    margin-inline: 0.5rem;
}
nav a{
    background: darkslategray;
    color:teal;
}

/*-- Main Body --*/
body{
    text-align: center;   
    cursor: url('/Media/custom.svg'), auto;
}

/*-- All Links --*/
a {
    color: teal;
    text-decoration: none;
}
a:hover {
    background: black;
    color: wheat;
    cursor: url('/Media/custom.svg'), auto;
}
a:visited {
    color: teal;
}
a:active {
    color: wheat;
}

/* REDACTED Blackout highlight */
.Redacted {
    color: white;
    background-color: black;
}

.column{
    column-count: 4 150px;
    column-gap: 2rem;
}